

body {
  font-family: Arial, sans-serif;
height: 100%;
width:100%;
  margin: 0%;
 padding: 10px;
 background-color: rgba(216, 236, 0, 0);
}

header {
  height: 100%;
 
  width: 100%;
  background-color: #e78f8f;
  color: #000000;
  padding: 20px;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #000000;
  text-decoration: none;
}

section {
  padding: 20px;
}

section h2 {
  margin-top: 0;
}
.logo img{
  height:15vh;
  margin: 3%;
}
.logo :hover{
  box-shadow: 10px 10px 100px 2px yellow;
}
.instructor {
  margin-bottom: 20px;
}

.instructor img {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  margin-bottom: 10px;
}


@media  (max-width:500px){
  .logo img{
    width: 100%;
  }

  
} 

nav ul {
  font-size:1.5em;
  font-weight:500 ;
}
nav ul :hover{
  background-color: rgba(140, 189, 111, 0.841);
  padding: 5px;
}
